<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="layout">%d [%t] %-5level %logger - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
<!--        <File name="FileAppender" fileName="app.log">-->
<!--            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />-->
<!--        </File>-->
    </Appenders>

    <Loggers>
        <Logger name="EventLogger" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
<!--            <AppenderRef ref="FileAppender"/>-->
        </Logger>

        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
<!--            <AppenderRef ref="FileAppender"/>-->
        </Root>
    </Loggers>

</Configuration>